<!-- HTML5 -->
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../styles/index.css" rel="stylesheet" type="text/css" />
	<link rel="WSicon" href="../images/icons/favicon.ico">
    <title>WebShare - Design. Code. Collaborate.</title>
</head>

<body>
	<header>
    </header>
    <section id="index-bottom">
    	<section id="login">
    		<h2>Sign in</h2>
            <form autocomplete="off">
            	<label for="username">Username</label><br />
            	<section class="input_med" >
                	<input name="username" size="" />
                </section>
                <label for="password">Password</label><br />
                <section class="input_med" >
                	<input name="password" size="" />
                </section><br />
                <button class="btn_med btn_lblue">
                	<a href="#">Login</a>
                </button>
                <a href="#" class="lnk_undecorated">Forgot your password?</a>
            </form>
    	</section>
    	<section id="signup">
    		<h2>Not a member?</h2>
            <button class="btn_med btn_lblue">
            	<% link_to 'Sign up', new_user_path %>
            </button>
            <p>Here at WebShare we're all about community.<br>
            That's why we say <b>Booya!</b> when you share</p>
    	</section>
   	</section>
</body>
</html>
