/* General tags */

* {
	margin:0;
	padding:0;
}

body {
	background-color:#1C75BC;
}

header {
	background-image:url('../images/splash.png');
	background-repeat:no-repeat;
	width:489px;
	height:508px;
	margin-left:auto;
	margin-right:auto;
}

p {
	font-family:Arial, Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#069;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	letter-spacing:8px;
}

footer a {
	display:block;
	height:31px;
	padding-top:10px;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	color:#999;
}

footer a:hover {
	background-color:#999;	
	color:#036;
}

footer {
	width:100%;
	height:30px;
	padding-bottom:10px;
	background-color:#036;
	border-bottom:1px solid #999;
	position:fixed;
	top:0;
	text-align:center;
}