@import "bootstrap";

/* universal styles (apply to all) */

html {
}

body {
}

section {
}

textarea {
}

.center {
  text-align:center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
}

p {
}

/* Buttons */

.btn_med {
	border:0;
	box-shadow:0px 2px 0px #069;
	-moz-box-shadow:0px 2px 0px #069;
	-webkit-box-shadow:0px 2px 0px #069;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
}

.btn_lblue {
	background-color:#93D8EF;
}

button a:link, button a:visited, button a:active {
	display: block;
	padding: 10px 22px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	color: #09C;
	background-color: #93D8EF;
	text-decoration: none;
	text-shadow: 1px 1px 0px #DDD;
	-moz-text-shadow: 1px 1px 0px #DDD;
	-webkit-text-shadow: 1px 1px 0px #DDD;
	border:0;
}

/* Input Fields */

.input_med {
	background-image:url('../images/input_med.png');
	background-position:top left;
	background-repeat:no-repeat;
	width:221px;
	height:45px;
	border:0;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	color:#EEE;
	position:relative;
}

/* Links (not buttons) */

a.lnk_undecorated:link, a.lnk_undecorated:active, a.lnk_undecorated:visited {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	color:#E6E7E8;
	text-shadow:0px 2px 0px #336699;
	-moz-text-shadow:0px 2px 0px #336699;
	-webkit-text-shadow:0px 2px 0px #336699;
	text-decoration:none;
}

a.lnk_undecorated:hover {
	background-color:transparent;
	text-shadow:1px 1px 0px #3399CC;
	-moz-text-shadow:1px 1px 0px #3399CC;
	-webkit-text-shadow:1px 1px 0px #3399CC;
}