// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* WebShare Logo (on signup) */

#logo {
	background-image:url('../images/index-logo.png');
	background-position:top left;
	background-repeat:no-repeat;
	width:900px;
	height:373px;
	margin-left:auto;
	margin-right:auto;
	padding-top:90px;
	text-align:center;
}

#logo button {
	margin-top:230px;
}

/* Sign in & Sign up */

#index-bottom {
	width:900px;
	height:434px;
	margin-left:auto;
	margin-right:auto;
}

#signin {
	background-image:url('../images/index-left.png');
	background-position:top left;
	background-repeat:no-repeat;
	width:447px;
	height:434px;
	float:left;
	padding-top:50px;
}

#signin form {
	margin-top:20px;
}

#signin label {
	margin:6px 0px 0px 100px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	text-indent:6px;
	line-height:0px;
	vertical-align:middle;
	color:#E6E7E8;
	text-shadow:0px 2px 0px #336699;
	-moz-text-shadow:0px 2px 0px #336699;
	-webkit-text-shadow:0px 2px 0px #336699;
}

#signin .input_med {
	margin-left:100px;
}

#signin button {
	margin-left:100px;
}

#signup {
	background-image:url('../images/index-right.png');
	background-position:top left;
	background-repeat:no-repeat;
	width:453px;
	height:384px;
	float:left;
	padding-top:50px;
	text-align:center;
}

#signin h1, #signup h2 {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:22px;
	color:#E6E7E8;
	text-shadow:0px 2px 0px #336699;
	-moz-text-shadow:0px 2px 0px #336699;
	-webkit-text-shadow:0px 2px 0px #336699;
	text-align:center;
}

#signup button {
	margin-top:20px;
}

#signup p {
	margin-top:16px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	color:#E6E7E8;
	text-shadow:0px 2px 0px #336699;
	-moz-text-shadow:0px 2px 0px #336699;
	-webkit-text-shadow:0px 2px 0px #336699;
}