// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* General Tags */

* {
	margin:0;
	padding:0;
}

body {
	/*background-color:#1C75BC;*/
	background-image:url('../images/bg-fade.png');
	background-repeat:repeat-x;
	background-position:top left;
	background-color:#069;
}

header {
	background-image:url('../images/index-logo.png');
	background-position:top left;
	background-repeat:no-repeat;
	width:900px;
	height:463px;
	margin-left:auto;
	margin-right:auto;
}

#index-bottom {
	width:900px;
	height:434px;
	margin-left:auto;
	margin-right:auto;
}

#login {
	background-image:url('../images/index-left.png');
	background-position:top left;
	background-repeat:no-repeat;
	width:447px;
	height:434px;
	float:left;
	padding-top:50px;
	position:relative;
}

#login form {
	margin-top:20px;
}

#login label {
	margin-left:100px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	line-height:32px;
	vertical-align:middle;
	color:#E6E7E8;
	text-shadow:0px 2px 0px #336699;
	-moz-text-shadow:0px 2px 0px #336699;
	-webkit-text-shadow:0px 2px 0px #336699;
}

#login input {
	width:205px;
	height:45px;
	border:0;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	color:#EEE;
	background:transparent;
	padding-left:16px;
}

#login button {
	margin-left:100px;
}

.lnk_undecorated {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	color:#E6E7E8;
	text-shadow:0px 2px 0px #336699;
	-moz-text-shadow:0px 2px 0px #336699;
	-webkit-text-shadow:0px 2px 0px #336699;
	text-decoration:none;
}

#signup {
	background-image:url('../images/index-right.png');
	background-position:top left;
	background-repeat:no-repeat;
	width:453px;
	height:384px;
	float:left;
	padding-top:50px;
	text-align:center;
}

#login h2, #signup h2 {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#E6E7E8;
	text-shadow:0px 2px 0px #336699;
	-moz-text-shadow:0px 2px 0px #336699;
	-webkit-text-shadow:0px 2px 0px #336699;
	text-align:center;
}

#signup button {
	margin-top:20px;
}

button a {
	display:block;
	padding:10px 22px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:18px;
	color:#09C;
	text-decoration:none;
	text-shadow:1px 1px 0px #DDD;
	-moz-text-shadow:1px 1px 0px #DDD;
	-webkit-text-shadow:1px 1px 0px #DDD;
}

#signup a:active {
	/* make button *click* down */
}

button a:hover {
	text-shadow:1px 1px 0px #EEE;
	-moz-text-shadow:1px 1px 0px #EEE;
	-webkit-text-shadow:1px 1px 0px #EEE;
}

#signup p {
	margin-top:16px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	color:#E6E7E8;
	text-shadow:0px 2px 0px #336699;
	-moz-text-shadow:0px 2px 0px #336699;
	-webkit-text-shadow:0px 2px 0px #336699;
}

/* Page elements */

.btn_med {
	border:0;
	box-shadow:0px 2px 0px #069;
	-moz-box-shadow:0px 2px 0px #069;
	-webkit-box-shadow:0px 2px 0px #069;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
}

.btn_lblue {
	background-color:#93D8EF;
}

.input_med {
	background-image:url('../images/input_med.png');
	background-position:top left;
	background-repeat:no-repeat;
	width:221px;
	height:45px;
	border:0;
	margin-left:100px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	color:#EEE;
	position:relative;
}